.one-ring {
  width: 200px;
  height: 200px;
  border: 33.33333px yellow solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px #999900 inset, 5px 5px 10px #999900;
          box-shadow: 5px 5px 10px #999900 inset, 5px 5px 10px #999900;
}

.small-ring {
  width: 100px;
  height: 100px;
  border: 16.66667px red solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px #990000 inset, 5px 5px 5px #990000;
          box-shadow: 5px 5px 5px #990000 inset, 5px 5px 5px #990000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.loop:nth-child(1) {
  margin-right: -5.33333px;
  width: 26.66667px;
  height: 26.66667px;
  border: 4.44444px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 1.33333px black inset, 5px 5px 1.33333px black;
          box-shadow: 5px 5px 1.33333px black inset, 5px 5px 1.33333px black;
}

.loop:nth-child(2) {
  margin-right: -10.66667px;
  width: 53.33333px;
  height: 53.33333px;
  border: 8.88889px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 2.66667px black inset, 5px 5px 2.66667px black;
          box-shadow: 5px 5px 2.66667px black inset, 5px 5px 2.66667px black;
}

.loop:nth-child(3) {
  margin-right: -16px;
  width: 80px;
  height: 80px;
  border: 13.33333px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 4px black inset, 5px 5px 4px black;
          box-shadow: 5px 5px 4px black inset, 5px 5px 4px black;
}

.loop:nth-child(4) {
  margin-right: -21.33333px;
  width: 106.66667px;
  height: 106.66667px;
  border: 17.77778px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5.33333px black inset, 5px 5px 5.33333px black;
          box-shadow: 5px 5px 5.33333px black inset, 5px 5px 5.33333px black;
}

.loop:nth-child(5) {
  margin-right: -26.66667px;
  width: 133.33333px;
  height: 133.33333px;
  border: 22.22222px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 6.66667px black inset, 5px 5px 6.66667px black;
          box-shadow: 5px 5px 6.66667px black inset, 5px 5px 6.66667px black;
}

.loop:nth-child(6) {
  margin-right: -32px;
  width: 160px;
  height: 160px;
  border: 26.66667px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 8px black inset, 5px 5px 8px black;
          box-shadow: 5px 5px 8px black inset, 5px 5px 8px black;
}

.loop:nth-child(7) {
  margin-right: -37.33333px;
  width: 186.66667px;
  height: 186.66667px;
  border: 31.11111px black solid;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 9.33333px black inset, 5px 5px 9.33333px black;
          box-shadow: 5px 5px 9.33333px black inset, 5px 5px 9.33333px black;
}

body {
  font-family: 'Jim Nightshade', cursive;
}

h1 {
  padding: 2vh;
}

header, .one-ring, .small-ring, .command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh;
  padding: 1vw;
}

span {
  width: 100%;
}

#navigation {
  background-color: orange;
  color: white;
  height: 100px;
  width: 100%;
}

#navigation nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

#navigation nav .navbar .nav-item {
  font-size: 1.2em;
}

#navigation nav .navbar .nav-item a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */